/* Coolors Exported Palette - coolors.co/ffe74c-ff5964-5fdd9d-ffffff-35a7ff */

/* HSL */
$color1: hsla(52%, 100%, 65%, 1);
$color2: hsla(356%, 100%, 67%, 1);
$color3: hsla(150%, 65%, 62%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(206%, 100%, 60%, 1);

/* RGB */
$color1: rgba(255, 231, 76, 1);
$color2: rgba(255, 89, 100, 1);
$color3: rgba(95, 221, 157, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(53, 167, 255, 1);