* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kulim Park', sans-serif;
    
}

body {
    background-color: #3f4d71;
}


#text {
    color: white;
    text-align: center;
    font-size: 5vw;
}

#clock {
    display: block;
    text-align: center;
    margin: auto;
    color: white; 
    font-size: 10vw;
    margin-top: 10%;
}

a.start {
    color: white;
    border: 5px solid white;
    width: 10vw;
    min-width: 150px;
    margin: auto;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 100px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#settings {
    width: 2em;
    margin: 10px;   
    
}

.menu {
    background-color: white;
    color: #3f4d71;
    padding: 10px;
    font-size: 2vw;
}

.menu input {
    padding: 5px;
    border-radius: 50px;
    border: 2px solid #3f4d71;
    font-size: 2vw;
    width: 75px;
}

#autostart {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
}

#autostart::checked {
    width: 1em;
    height: 1em;
    color: green;
}

@media screen and (max-width:1080px){
    #text {
        font-size: 11vw;
    }
    
    #clock {
        font-size: 25vw;
    }
    
    a.start {
        font-size: 4vw;
    }
    
    #settings {
        width: 2.5em;
    }
    
    .menu {
        font-size: 5vw;
    }
    
    .menu input {
        font-size: 5vw;
    }
}
